<!-- This is a HTML document -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/0b92670209.js" crossorigin="anonymous"></script>
        <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    </head>
    <body class="bg-black text-white font-poppins flex flex-col items-center justify-center gap-3 mt-10">
        <h1 class="text-4xl font-bold">Chitter 🦅</h1>
        <div class="flex flex-row gap-3">
            <p class="bg-blue-500 text-xl text-white font-bold py-2 px-4 rounded-lg cursor-pointer mt-4 gap-3">
                <a href="/login">Log In</a>
            </p>
            <p class="bg-yellow-500 text-xl text-white font-bold py-2 px-4 rounded-lg cursor-pointer mt-4 gap-3">
                <a href="/signup">Sign Up</a>
            </p>
        </div>
        
        <ul class="flex flex-col gap-3">
            {% for post in posts %}
                <div>
                    <p>Username: {{post.username}}</p>
                    <p>Message: {{post.message}}</p>
                    <p>Time: {{post.time}}</p>
                </div>
            {% endfor %}
        </ul>

        
    </body>
</html>